.flip-card {
  perspective: 800px;
  display: inline-block;
}

.flip-inner {
  display: inline-block;
  height: 120px;
  overflow: hidden;
}

.flip-number {
  font-size: 80px;
  font-weight: 700;
  color: #0d4f68;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: flip 0.25s ease-in-out;
}

@keyframes flip {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
